{erl_opts, [
     {platform_define, "^[0-9]+", namespaced_types}
]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]}
]}.

%% the plugin itself
{project_plugins, [rebar3_proper]}.
%% The PropEr dependency is required to compile the test cases
%% and will be used to run the tests as well.
{profiles,
    [{test, [
        {deps, [
            %% hex
            {proper, "1.3.0"}
        ]}
    ]}
]}.